$h: 190px;
$w: 340px;
$font: 'Snell Roundhand', sans-serif;
$forest: #384630;

.place-card {
  @extend .flex-column;
  height: $h * 2.1;
  width: $w;
  background-color: white;

  .backside {
    height: $h;
  }

  .front {
    @extend .flex-column;
    height: $h;
    position: relative;

    justify-content: center;
    overflow: hidden;
  }

  .name {
    margin: 0;
    height: 100%;
    margin-top: 5rem;
    font-family: $font;
    color: $forest;
    font-size: 3rem;
    overflow: hidden;
  }
}

.vine {
  display: flex;
  max-width: $w * 0.65;
  overflow: hidden;

  position: absolute;
  left: -0.5rem;
  top: 0.5rem;
  aspect-ratio: 3/1;
  transform: rotate(-15deg);
}
