@import 'styles/flex.scss';
@import 'styles/place-card.scss';

@font-face {
  font-family: 'Snell Roundhand';
  src: url('~/System/Library/Fonts/Supplemental/SnellRoundhand.ttc ') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$a4-width: 210mm;
$a4-height: 297mm;

.App {
  @extend .flex-column, .flex-center;
  text-align: center;

  gap: 1rem;
  padding: 1rem 0;

  background-color: antiquewhite;
}

.insert-form {
  @extend .flex-column;
}

.place-cards {
  @extend .flex-center, .flex-column;
  display: flex;
  justify-content: center;
  page-break-inside: avoid;
  gap: 1rem;

  &-a4 {
    @extend .flex-center, .flex-row;
    height: $a4-height;
    width: $a4-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 0;
    page-break-inside: avoid;
    page-break-after: always; 

    &:nth-child(odd) {
      background-color: #f0f0f0;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
